{% extends "index.html" %}

{% block contenido %}
    <div class="row tm-row">
        <div class="col-lg-8 tm-post-col">
            <div class="tm-post-full">                    
                <div class="mb-4">
                    <h2 class="pt-2 tm-color-primary tm-post-title">{{ post.title }}</h2>
                    <p class="tm-mb-40">{{ post.date_posted|date:"F d, Y" }} posted by {{ post.author }}</p>
                    <p>
                        {{ post.content|safe }}
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock contenido %}
